@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Virtual";
  src: url("./font/Virtual.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html {
    @apply font-sans;
    scroll-behavior: smooth;
  }
  b {
    @apply text-ocre font-semibold tracking-wide
  }
  a {
    @apply underline
  }
  .bg-dots {
    background-image: radial-gradient(#f4dfce9e 1px,  #faf7f5 1px);
    background-size: 5px 5px
  }
  a.btn {
    @apply relative inline-flex items-center px-4 py-2 border border-transparent no-underline text-sm font-medium rounded-md text-white bg-ocre shadow-sm hover:bg-ocre hover:bg-opacity-80 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-ocre
  }
}
