@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Virtual";
  src: url("./Virtual.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
