@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Virtual";
  src: url("./font/Virtual.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CooperHewitt";
  src: url("./font/CooperHewittBook") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CooperHewitt";
  src: url("./font/CooperHewittBookItalice") format("woff2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "CooperHewitt";
  src: url("./font/CooperHewittBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "CooperHewitt";
  src: url("./font/CooperHewittBoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@layer base {
  html {
    @apply font-cooper-hewitt;
    scroll-behavior: smooth;
  }
  b {
    @apply text-ocre font-semibold tracking-wide
  }
  a {
    @apply underline
  }
  .bg-dots {
    background-image: radial-gradient(#f4dfce9e 1px,  #faf7f5 1px);
    background-size: 5px 5px
  }
}
